@font-face {
    font-family: "RetroComputer";
    src: url("../assets/fonts/RetroComputer.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');

h1, h3 {
    font-family: "RetroComputer";
}

/* #about {
    background-color: #B9619D;
} */

.text-section {
    background-color: #B9619D;
}

.about-txt {
    font-size:20px;
    text-align:left;
}

.txt1 {
    padding: 5vh 2vh 0 2vh;
}

.txt2 {
    padding: 0 2vh 5vh 2vh;
}

.about-img {
    display: inline;
    height: 25vh;
    margin: 2vh 0 0vh 2vh;
    padding: 2vh 0 2vh 2vh;
    float: right;
}

@media screen and (min-width: 768px) {
    .text-section {
        flex-direction: row;
    }

    .about-txt {
        font-size:30px;
    }

    .about-img {
        height: 40vh;
    }
}