cucumber - behavior driven 
 - test automation
- 'THEN' is what youre testing

dormik
external libeaya
controls form sates

shallow redner runs test much quicker than mount
help with just testing one component

console.log(wrapper.debug()) - show what it is rendering

jest & ebzymen=====tetsing framework

snapshoy testing best to use shallow

.main{

    background-color: #604A78;
    color: white;
    background-image: url("../assets/BgAccents.png");
    background-position: cover;
    background-repeat: repeat-y;
    background-size: 100%;
}

.judge-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.judge-desc{
    font-size:30px;
    text-align:left;
    padding-left: 5vh;
}

.judge-title{

}