#judges {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.judges-box {
    height: 55vh;
    width: auto;
    background-image: url("../assets/clipboard.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.judges-text {
    width: 50%;
    font-size: 1.8vh;
}

.apply-now {
    height: 3vh;
}

@media screen and (min-width: 500px) {
    .judges-box {
        height: 80vh;
    }
    .judges-text {
        width: 45%;
        font-size: 2.3vh;
    }
    .apply-now {
        height: 5vh;
    }
}

@media screen and (min-width: 700px) {
    .judges-box {
        height: 80vh;
    }
    .judges-text {
        width: 40%;
        font-size: 2.5vh;
    }
    .apply-now {
        height: 5vh;
    }
}

@media screen and (min-width: 992px) {
    .judges-text {
        width: 25%;
        font-size: 2.8vh;
    }
}