@font-face {
    font-family: "RetroComputer";
    src: url("../assets/fonts/RetroComputer.ttf") format("truetype");
} 

/* #org {
    min-height: 100vh;
} */

.org-title {
    padding: 0 2vh 0 2vh;
    margin: 0;
}

.org-bg {
    background-repeat: no-repeat;
    background-size: 80vw;
}

.org-top {
    background-image: url("../assets/organizers/orgtop.png");
    background-position: bottom;
    height: 10vh;
}

.org-mid {
    background-image: url("../assets/organizers/orgmid.png");
    background-repeat: repeat-y;
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.org-bot {
    background-image: url("../assets/organizers/orgbottom.png");
    background-position: top;
    height: 10vh;
}

@media screen and (min-width: 576px) { 
    .org-bg {
        background-size: 60vw;
    }

    .org-top {
        height: 20vh;
    }
    
    .org-bot {
        height: 20vh;
    }
}

@media screen and (min-width: 1200px) { 
    .org-top {
        height: 30vh;
    }

    .org-bot {
        height: 30vh;
    }
}