@font-face {
    font-family: "RetroComputer";
    src: url("../assets/fonts/RetroComputer.ttf") format("truetype");
} 

/* Also Includes tba stuff, delete when no longer needed */
#tba {
    margin-top: 8vh;
}

.tba-text {
    font-size: 2.5vh;
    color: #604A78;
}

.tba-follow {
    background-color: #B9619D;
    padding: 1.5vh;
    border-radius: 1vh;
    cursor:pointer;
}

.org-title {
    padding: 0 2vh 0 2vh;
    margin: 5vh 0;
    font-size: 4vh;
}

.org-bg {
    background-repeat: no-repeat;
    background-size: 80vw;
}

.org-top {
    background-image: url("../assets/organizers/orgtop.png");
    background-position: bottom;
    height: 10vh;
}

.org-mid {
    background-image: url("../assets/organizers/orgmid.png");
    background-repeat: repeat-y;
    background-position: center;
    min-height: 50vh;
    display: flex;
    /* flex-direction: row; THIS IS FOR ORG */
    flex-direction: column; 
    padding: 0 28vw;
    align-items: center;
    justify-content: center;
    font-family: RetroComputer;
}

.org-bot {
    background-image: url("../assets/organizers/orgbottom.png");
    background-position: top;
    height: 10vh;
}

.org-all {
    width: 70vw;
    padding: 3vw;
}

.org-img {
    width: 10vw;
    border-radius: 50%;
}

.org-name {
    font-size: 2vh;
    color: #604A78;
}


@media screen and (min-width: 576px) { 
    .org-title {
        margin-top: 5vh;
        margin-bottom: -1vh;
        font-size: 5vh;
    }
    .org-bg {
        background-size: 60vw;
    }

    .org-top {
        height: 20vh;
    }
    
    .org-bot {
        height: 20vh;
    }

    .tba-text {
        font-size: 3vh;
    }
}

@media screen and (min-width: 1200px) { 
    .org-title {
        margin-top: 7vh;
        font-size: 7vh;
    }
    .org-top {
        height: 30vh;
    }

    .org-bot {
        height: 30vh;
    }

    .tba-text {
        font-size: 4vh;
    }
}