@font-face {
    font-family: "RetroComputer";
    src: url("../assets/fonts/RetroComputer.ttf") format("truetype");
} 

/* #spon {
    min-height: 100vh;
} */

.spon-title {
    padding: 4vh 2vh 0 2vh;
    margin-bottom: 0;
}

.spon-bg {
    background-repeat: no-repeat;
}

.spon-top {
    background-image: url("../assets/sponsors/spontop.png");
    background-position: bottom;
    background-size: 90vw;
    height: 10vh;
}

.spon-mid {
    background-image: url("../assets/sponsors/sponmid.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 90vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spon-bot {
    background-image: url("../assets/sponsors/sponbottom.png");
    background-position: top;
    background-size: 90vw;
    height: 10vh;
}

.spon-logo {
    width: 25vw;
}

@media screen and (min-width: 576px) { 
    .spon-top {
        height: 25vh;
    }

    .spon-bot {
        height: 25vh;
    }
}

@media screen and (min-width: 1200px) { 
    .spon-top {
        height: 40vh;
    }

    .spon-bot {
        height: 40vh;
    }
}